  <nav>
    <div class="nav-wrapper  light-blue darken-4">
      <a href="/books" class="brand-logo"><img src="logo.jpg"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/books">Tambah Buku</a></li>
        <li><a href="/authors">Penulis</a></li>
        <li><a href="/publishers">Penerbit</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="side-nav  light-blue darken-4" id="mobile-demo">
        <li><a href="/books">Tambah Buku</a></li>
        <li><a href="/authors">Penulis</a></li>
        <li><a href="/publishers">Penerbit</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
