<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Publisher</title>
  </head>
  <body>
    
    <form class="" action="/publishers/add" method="post">
      <label for="">Name</label>
      <input type="text" name="name" value="" placeholder="Publisher's name">
      <button type="submit" name="button">Add Publisher</button>
    </form>
    
  </body>
</html>
