<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Author</title>
  </head>
  <body>
    
    <form class="" action="/authors/edit/<%= data_author.id%>" method="post">
      <label for="">First Name</label>
      <input type="text" name="first_name" value="<%= data_author.first_name%>">
      <label for="">Last Name</label>
      <input type="text" name="last_name" value="<%= data_author.last_name%>">
      <button type="submit" name="button">Update Author</button>
    </form>
    
  </body>
</html>
