<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Publisher</title>
  </head>
  <body>
    
    <form class="" action="/publishers/edit/<%= data_publisher.id%>" method="post">
      <label for="">Publisher</label>
      <input type="text" name="name" value="<%= data_publisher.name%>">
      <button type="submit" name="button">Update</button>
    </form>
    
  </body>
</html>
