<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
      <title>Publisher</title>
      <%- include partials/layout %>
  </head>
  <body>
      <div class="container">
        <br>
            <h2 class="center">Hasil Pencarian Buku</h2>
              <br>
              <table>
                <thead>
                  <tr>
                    <th>Judul Buku</th>
                  </tr>
                </thead>
                <tbody>
                <% data.forEach(d => {%>
                <tr>
                  <td><%= d.title %></td>
                </tr>
                <% }) %>
                </tbody>
              </table>
              <br><br>
              <a href="/books">Back</a>
      </div
    </body>
  </html>
